/set.ini
history.json
__pycache__/config.cpython-38.pyc
__pycache__/coordinates.cpython-38.pyc
__pycache__/exceptions.cpython-38.pyc
__pycache__/history.cpython-38.pyc
__pycache__/weather_api_service.cpython-38.pyc
__pycache__/weather_formatter.cpython-38.pyc
__pycache__/coordinates.cpython-38.pyc
__pycache__/weather_api_service.cpython-38.pyc
